<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Upload Video for Object Detection Live View</title>
    <style>
        #live-stream {
            display: none; /* Hide the live stream section initially */
        }

        #live-stream img {
            width: 100%;
        }
    </style>
</head>
<body>
    <h1>Upload a Video for Object Detection Live View</h1>
    
    <!-- Form for video upload and parameters -->
    <form id="upload-video-form" action="/upload_video" method="post" enctype="multipart/form-data">
        <div style="display: flex; flex-direction: column;">
            <!-- First Row -->
            <div style="margin-bottom: 20px;">
                <input type="file" name="file" accept="video/*" required>
                <input type="submit" id="submit-button" value="Upload Video">
                <label for="frame_window">Frame window for voting:</label>
                <input type="number" id="frame_window" name="frame_window" step="1" min="1" max="30" value="10" required>
            </div>
            <!-- Second Row -->
            <div style="margin-bottom: 20px;">
                <label for="iou_thr">IoU Threshold:</label>
                <input type="number" id="iou_thr" name="iou_thr" step="0.01" min="0" max="1" value="0.7" required>
                <label for="skip_box_thr">Skip Box Threshold:</label>
                <input type="number" id="skip_box_thr" name="skip_box_thr" step="0.0001" min="0" max="1" value="0.005" required>
                <label for="p">Minimum Minority Threshold:</label>
                <input type="number" id="p" name="p" step="0.0001" min="0" max="1" value="0.005" required>
            </div>
            <!-- Third Row -->
            <div>
                <label for="nms_max_overlap">Nms Max Overlap:</label>
                <input type="number" id="nms_max_overlap" name="nms_max_overlap" step="0.01" min="0" max="1" value="0.7" required>
                <label for="max_age">Max Age:</label>
                <input type="number" id="max_age" name="max_age" step="1" min="1" value="20" required>
                <label for="n_init">N Init:</label>
                <input type="number" id="n_init" name="n_init" step="1" min="1" value="3" required>
                <label for="max_cosine_distance">Max Cosine Distance:</label>
                <input type="number" id="max_cosine_distance" name="max_cosine_distance" step="0.01" min="0" max="1" value="0.35" required>
                <label for="max_iou_distance">Max IoU Distance:</label>
                <input type="number" id="max_iou_distance" name="max_iou_distance" step="0.01" min="0" max="1" value="0.8" required>
                <label for="nms_max_overlap">Nms Max Overlap:</label>
                <input type="number" id="nms_max_overlap" name="nms_max_overlap" step="0.01" min="0" max="1" value="0.7" required>
            </div>
        </div>
    </form>
    
    <div id="live-stream">
        <img id="live-stream-img" src="" alt="Live Stream">
    </div>

    <script>
        // Handle video upload and parameter submission
        document.getElementById('upload-video-form').addEventListener('submit', function(e) {
            e.preventDefault();
            var formData = new FormData(this);
            var submitButton = document.getElementById('submit-button');

            // Disable the submit button
            submitButton.disabled = true;

            fetch('/upload_video', {
                method: 'POST',
                body: formData
            })
            .then(response => response.json())
            .then(data => {
                if (data.success) {
                    // Show the live stream section
                    const liveStreamContainer = document.getElementById('live-stream');
                    const liveStreamImg = document.getElementById('live-stream-img');

                    // Build the query string with parameters
                    const queryString = new URLSearchParams({
                        file: data.file_path,
                        iou_thr: document.getElementById('iou_thr').value,
                        skip_box_thr: document.getElementById('skip_box_thr').value,
                        p: document.getElementById('p').value,
                        max_age: document.getElementById('max_age').value,
                        n_init: document.getElementById('n_init').value,
                        max_cosine_distance: document.getElementById('max_cosine_distance').value,
                        nms_max_overlap: document.getElementById('nms_max_overlap').value,
                        frame_window: document.getElementById('frame_window').value,
                    });

                    liveStreamImg.src = "/process_live_stream?" + queryString.toString();
                    liveStreamContainer.style.display = 'block';
                } else {
                    alert('Error processing video');
                }

                // Enable the submit button
                submitButton.disabled = false;
            })
            .catch(error => {
                console.error('Error:', error);

                // Enable the submit button in case of error
                submitButton.disabled = false;
            });
        });
    </script>
</body>
</html>
